<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">
	<form th:action="@{/ctrl/form}" method="post" th:object="${memberForm}">
		<div>
			<label id="name">名前：</label><br>
			<input th:field="*{name}" type="text">
		</div>
		<div>
			<label id="birth">生年月日：</label><br>
			<input th:field="*{birth}" type="date">
		</div>
		<div>
			<label id="email">メールアドレス：</label><br>
			<input th:field="*{email}" type="email">
		</div>
		<input type="submit" value="保存">
	</form>
</div>
</html>